main {
  margin-top: 0 !important;
}
.result {
  .result__wrapper {
    padding: 80px;
    margin: 0 auto;
    text-align: center;
    background: url("../../img/fon.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .result__title {
    margin-bottom: 0;
    background-color: rgb(255 255 255 / 82%);
    color: #222;
    border-radius: 10px;
    padding: 10px 0;
    font-weight: 700;
    span {
      font-size: 30px;
    }
    .result__correct {
      color: green;
    }
    .asnwers__length {
      color: red;
    }
  }
  img {
    width: 150px;
    margin-bottom: 20px;
  }
  .result__btn {
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    border-radius: 30px;
    border: 0;
    padding: 15px 30px;
    font-size: 20px;
    background-color: rgb(28 13 101);
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 565px) {
  .result {
    .result__wrapper {
      padding: 50px;

      .result__title {
        font-size: 14px;
        span {
          font-size: 20px;
        }
      }
      img {
        width: 100px;
        margin-bottom: 10px;
      }
      .result__btn {
        padding: 7px 14px;
        font-size: 14px;
      }
    }
  }
}
